* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: white;
  border-image: url(/assets/mud-splatter.jpg);
  border-width: 125px;
  border-image-repeat: repeat;
}
nav {
  margin: auto;
}

.play-field {
  height: 85vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  border: 2px solid red;
  margin: auto;
  /* border: 2px solid black; */

  /* border-image-slice: fill; */
  perspective: 1000px;
}

.memory-card {
  background: white;
  height: 80%;
  width: 70%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.3s;
}
.memory-card.flip {
  transform: rotateY(180deg);
}
.front-card {
  transform: rotateY(180deg);
}
.memory-card.flip:after {
  transition: transform 1500ms;
}

.front-card,
.back-card {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  backface-visibility: hidden;
}

/* startGame popup CSS */

.popup {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.pop {
  display: flex;
  flex-direction: column;
  background-color: rgba(8, 8, 8, 0.3);
  color: white;
}

.end-game {
  display: none;
}

.pawprint {
  height: 100px;
  width: 100px;
}

@media only screen and (min-width: 750px) {
  .play-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
